<!DOCTYPE html>
<html>

<head>
  <title>Register Router</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Register Router</h1>

  <form method="POST" action="/add">
    IP: <input name="ip" required />
    Username: <input name="username" required />
    Password: <input type="password" name="password" required />
    <button type="submit">Add</button>
  </form>

  <h2>Routers List</h2>

  <ul>
    {% for router in data %}
    <li>
      {{ router.ip }} - {{ router.username }}

      <form method="POST" action="{{ url_for('delete_router') }}" style="display:inline">
        <input type="hidden" name="id" value="{{ router._id }}">
        <button type="submit">Delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>
</body>

</html>